.button {
  margin: 2px;
  background-color: #1b7efe;
  width: 119px;
  height: 35px;
  border-radius: 2px;
  opacity: 1;
  border: none;
  cursor: pointer;
  outline: inherit;
  font-size: 14px;
  font-weight: 200;
  color: #ffffff;
  text-overflow: ellipsis;
  overflow: hidden;
}
