$pure-white: #ffffff;
$record-button-background:rgba(255, 255, 255, 0.2);
$black: black;
$border: #2a2e36;
$surface: #242830;
$accent: #00B8DE;
$red: red;
$pressed-button-shadow: rgba(0, 184, 222, 0.12);
$hover-over-button: rgba(255, 255, 255, 0.12);
$border-button: rgba(255, 255, 255, 0.24);
$logo-background: #2f3239;
$logo-color: #797B80;
$tooltip-background: #32353c;
$tooltip-boxshadow: rgba(0, 0, 0, 0.16);
$save-button-boxshadow: rgba(0, 0, 0, 0.4);
$background: #021030;





